<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Menu</h2>
    <form action="/delete">
        <input type="submit" value="Deletar Funcionários">
    </form>
    <br>
    <form action="/update">
        <input type="submit" value="Atualizar Funcionários">
    </form>
    <br>
    <form action="/read">
        <input type="submit" value="Buscar Funcionário">
    </form>
    <br>
    <form action="/create">
        <input type="submit" value="Adicionar Funcionário">
    </form>
    
</body>
</html>